<!DOCTYPE html>
<html lang = "en" xmlns = "http://www.w3.org/1999/xhtml" xmlns:th = "http://www.thymeleaf.org">

<head>
	<meta name = "viewport" content = "width=device-width, initial-scale=1.0">
	<meta charset = "UTF-8">
	<title>CHATBOT</title>
	<link rel = 'stylesheet'
		  href = 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'>
	<link rel = 'stylesheet'
		  href = 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.css'>
	<link rel = 'stylesheet' href = 'https://fonts.googleapis.com/icon?family=Material+Icons'>
	<link rel = "stylesheet" href = "https://fonts.googleapis.com/css2?family=Open+Sans&display=swap">

	<script src = 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
	<script src = 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js'></script>
	<link rel = "stylesheet" href = "/index_style.css">

</head>

<body style = "text-align: center">
<h1> Welcome to my ChatBot </h1>

<div id = "body">
	<div id = "chat-circle" class = "btn btn-raised">
		<div id = "chat-overlay"></div>
		<i class = "material-icons">speaker_phone</i>
	</div>
	<div class = "chat-box">
		<div class = "chat-box-header">
			Chat<span class = "chat-box-toggle"><i class = "material-icons">close</i></span>
		</div>
		<div class = "chat-box-body">
			<div class = "chat-box-overlay">
			</div>
			<div class = "chat-logs">
			</div>
		</div>
		<div class = "chat-input">
			<form onsubmit = "return false">
				<input type = "text" id = "chat-input" placeholder = "Send a message..." />
				<button type = "button" class = "chat-submit" id = "chat-submit">
					<i class = "material-icons">send</i>
				</button>
			</form>
		</div>
	</div>

	<script>
		let conversationId = 0;

		$("#chat-circle").click(function () {
			$("#chat-circle").toggle('scale');
			$(".chat-box").toggle('scale');

		})
		$(".chat-box-toggle").click(function () {
			$("#chat-circle").toggle('scale');
			$(".chat-box").toggle('scale');
		})

		$("#chat-submit").click(function (e) {
			e.preventDefault();
			let msg = $("#chat-input").val();
			if (msg.trim() === '') {
				return false;
			}
			generate_message(msg, 'self');
			// generate_message("this is good", 'user');

			chatbot(conversationId, msg)
		})

		function generate_message(msg, type) {

			let icon = "/user.jpg";
			if (type === 'user') {
				icon = "/bot.png";
			}

			let str = "";
			str += "<div id='cm-msg-"+conversationId+"' class=\"chat-msg "+type+"\">";
			str += "          <span class=\"msg-avatar\">";
			str += "            <img src=\""+ icon +"\">";
			str += "          <\/span>";
			str += "          <div class=\"cm-msg-text\">";
			str += msg;
			str += "          <\/div>";
			str += "        <\/div>";
			$(".chat-logs").append(str);
			// $("#cm-msg-"+conversationId).hide().fadeIn(500);
			if(type === 'self'){
				$("#chat-input").val('');
			}

			$(".chat-logs").stop().animate({ scrollTop: $(".chat-logs")[0].scrollHeight}, 1000);
		}

		function chatbot(ind, msg) {
			msg = msg.trim().toLowerCase();

			$.ajax({
				url: "/api/hello",
				data: JSON.stringify({"message": msg, "index": ind}),
				cache: false,
				type: 'post',
				dataType: 'json',
				contentType: "application/json",
				success: function (data) {
					console.log(data);
					conversationId = data.convId;
					generate_message(data.data, "user");
				}
			});
		}

		$(document).delegate(".chat-btn", "click", function() {
			var value = $(this).attr("chat-value");
			var name = $(this).html();
			$("#chat-input").attr("disabled", false);
			generate_message(name, 'self');
			chatbot(INDEX, value);
		})

	</script>

</div>
</body>
</html>
