<!DOCTYPE html>
<html lang = "en" xmlns = "http://www.w3.org/1999/xhtml" xmlns:th = "http://www.thymeleaf.org">
<head>
	<meta charset = "UTF-8">
	<title>QnA</title>
	<link rel = "stylesheet" href = "/styles/commonstyle.css">
	<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src = "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div>
	<h3>Add QnA</h3>
	<label for = "answer">Enter answer: </label>
	<input type = "text" id = "answer" aria-placeholder = "answer" /><br>

	<label for = "keywords">Enter keywords: </label>
	<input type="text" id = "keywords" aria-placeholder = "keywords" /><br>

	<label for = "category">Enter category: </label>
	<input type = "text" id = "category" aria-placeholder = "category" /><br>

	<button id = "send">Save</button>

</div>
</body>

<script>
	$("#send").click(function () {
		getData($("#answer").val(), $("#keywords").serializeArray(), $("#category").val());
	});
	function getData(answer, keywords, category) {

		$.ajax({
			url: "/admin/qna/save",
			data: JSON.stringify({
				"answer": answer,
				"keywords": keywords.toArray(),
				"category": category
			}),
			cache: false,
			type: 'post',
			dataType: 'json',
			contentType: "application/json",
			success: function (data) {
				console.log(data);
				// alert(data.message);
				// window.location.href = "/";
			}
		});
	}
</script>
</html>
